id: c45e9842-98d5-4da3-9b0e-971e3f4ee889
name: google-api-apps-data
type: fabric
version: 1.0.2
trail:
  block: start
  dependson: []
  attempt:
    - block: get_refreshed_token
      dependson: []
      attempt:
        - block: send_token_to_vault
          dependson: []
          attempt:
          otherwise: []
          start: false
          end: false
        - block: update_completion_to_50
          dependson: [ send_token_to_vault ]
          attempt: []
          otherwise: []
          start: false
          end: false
        - block: list_users
          dependson:
            - update_completion_to_50
          attempt:  
            - block: update_completion_to_75
              dependson: [ list_users ]
              attempt: 
              otherwise: []
              start: false
              end: false
            - block: list_apps
              dependson: 
                - update_completion_to_75
              attempt:
                - block: merge_apps 
                  dependson: []
                  attempt: 
                    - block: publish_to_rawOutput
                      dependson:
                        - merge_apps
                      attempt:
                        - block: update_completion_to_100
                          dependson: [ publish_to_rawOutput ]
                          attempt: []
                          otherwise: []
                          start: false
                          end: false 
                      otherwise:
                          - block: end
                            dependson: []
                            attempt: []
                            otherwise: []
                            start: false
                            end: true           
                  otherwise: []
                  start: false
                  end: false
              otherwise: []
              start: false
              end: false
          otherwise: []
          start: false
          end: false
      otherwise: []
      start: false
      end: false   
  otherwise:
    - block: end
      dependson: []
      attempt: []
      otherwise: []
      start: false
      end: true
  start: true
  end: false
blocks:
  - name: start
    type: start
    config: {}
  - name: end
    type: end
    config: {}
  - name: get_refreshed_token
    type: util
    config:
      type: google_auth
      auth_type: service_account
      data: $.credential.connection.$
  - name: send_token_to_vault
    type: sender
    config:
      type: vault
      credential_type: token
      subscriber: $.context.subscriber
      tenant: $.context.tenant
      userid: $.context.context.userid
      facade:
        accessToken: $.block.get_refreshed_token.output.response.accessToken
  - name: list_users
    type: receiver
    config:
      type: rest
      uri: https://www.googleapis.com/admin/directory/v1/users?customer=my_customer&fields=users(id,name,primaryEmail,agreedToTerms,suspended,changePasswordAtNextLogin,ipWhitelisted,name,kind,emails,aliases,isMailboxSetup,addresses,isAdmin,isDelegatedAdmin,organizations,lastLoginTime,phones,suspensionReason,thumbnailPhotoUrl,languages,creationTime,nonEditableAliases,locations,includeInGlobalAddressList,deletionTime,ims,isEnrolledIn2Sv,isEnforcedIn2Sv,archived,recoveryEmail,recoveryPhone)
      method: GET
      headers:
        Authorization: Bearer $.block.get_refreshed_token.output.response.accessToken
      body: {}
      extract: null
  - name: list_apps
    type: receiver
    config:
      type: rest
      uri: https://admin.googleapis.com/admin/directory/v1/users/$.input.using.id/tokens
      method: GET
      headers:
        Authorization: Bearer $.block.get_refreshed_token.output.response.accessToken
        userid: $.input.using.id
      body: {}
      foreach: $.block.list_users.output.response.response.users[*]
      extract: items
  - name: merge_apps
    type: util
    config:
      type: merge
      primary: $.block.list_users.output.response.response.users
      secondary: $.block.list_apps.output.response
      pickfrom: response
      sinkto: apps
      condition: "$.primary.id == $.secondary.headers.userid && $.secondary.response.error.code == null"
  - name: publish_to_rawOutput
    type: sender
    config:
      type: kafka
      topic: rawOutput
      facade:
        name: Google Workspace Apps Connector
        description: Google Workspace Connector Configuration
        type: apps
        vendor: Google
        product: googleapis.com
        subProduct: /admin/directory/v1/users/tokens
        data: $.input.using
        subscriber: $.context.subscriber
        tenant: $.context.tenant
        instance_id: $.context.context.instanceid
      foreach: $.block.merge_apps.output.response.response[*]
  - name: update_completion_to_50
    type: receiver
    config:
      type: rest
      uri: http://content-tracking-service:9037/pipelines/$.context.context.pipelineid/update/output
      method: POST
      headers:
        Internal: true
      body:
        completed_percentage: 50
      extract: null
  - name: update_completion_to_75
    type: receiver
    config:
      type: rest
      uri: http://content-tracking-service:9037/pipelines/$.context.context.pipelineid/update/output
      method: POST
      headers:
        Internal: true
      body:
        completed_percentage: 75
      extract: null
      pagination: null
      paginationplacement: null
  - name: update_completion_to_100
    type: receiver
    config:
      type: rest
      uri: http://content-tracking-service:9037/pipelines/$.context.context.pipelineid/update/output
      method: POST
      headers:
        Internal: true
      body:
        completed_percentage: 100
      extract: null
      pagination: null
      paginationplacement: null