apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.quilr.appname }}
  namespace: {{ .Values.namespace | default "quilr" }}
  labels:
    app: {{ .Values.quilr.appname }}
spec:
  schedule: {{ .Values.cronjob.schedule | quote }}
  concurrencyPolicy: {{ .Values.cronjob.concurrencyPolicy }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ .Values.cronjob.ttlSecondsAfterFinished }}
      template:
        metadata:
          labels:
            app: {{ .Values.quilr.appname }}
          annotations:
            vault.security.banzaicloud.io/vault-addr: "{{ .Values.vault.addr }}"
            vault.security.banzaicloud.io/vault-env-passthrough: "VAULT_ADDR,VAULT_TOKEN"
            vault.security.banzaicloud.io/vault-role: "{{ .Values.vault.role }}"
            vault.security.banzaicloud.io/vault-skip-verify: "true"
            vault.security.banzaicloud.io/vault-agent: "true"
            vault.security.banzaicloud.io/vault-path: "{{ .Values.vault.path }}"
        spec:
          volumes:
            - name: agent-secrets
              emptyDir: {}
          containers:
            - name: {{ .Values.quilr.appname }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command: ["python", "/app/executor.py"]
              env:
                - name: VAULT_TOKEN
                  value: vault:secret/data/quilr-common-config-vault#VAULT_TOKEN
                - name: PG_USER
                  value: vault:secret/data/quilr-common-config-vault#PG_USER
                - name: PG_PASSWORD
                  value: vault:secret/data/quilr-common-config-vault#PG_PASSWORD
                - name: PG_HOST
                  value: vault:secret/data/quilr-common-config-vault#PG_HOST
                - name: OAUTH_CLIENT_ID
                  value: vault:secret/data/quilr-common-config-vault#OAUTH_CLIENT_ID
                - name: OAUTH_CLIENT_SECRET
                  value: vault:secret/data/quilr-common-config-vault#OAUTH_CLIENT_SECRET
              envFrom:
                - configMapRef:
                    name: quilr-common-config
                - configMapRef:
                    name: {{ .Values.quilr.appname }}-configmap
          restartPolicy: OnFailure
