apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.quilr.appname }}
  namespace: {{ .Values.namespace | default "quilr" }}
  labels:
    app: {{ .Values.quilr.appname }}
spec:
  schedule: {{ .Values.cronjob.schedule | quote }}
  concurrencyPolicy: {{ .Values.cronjob.concurrencyPolicy }}
  successfulJobsHistoryLimit: 1 
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      activeDeadlineSeconds: {{ .Values.cronjob.activeDeadlineSeconds }}
      ttlSecondsAfterFinished: null
      backoffLimit: {{ .Values.cronjob.backoffLimit }}
      completions: 2
      parallelism: 2
      template:
        metadata:
          labels:
            app: {{ .Values.quilr.appname }}
          annotations:
            vault.security.banzaicloud.io/vault-addr: "{{ .Values.vault.addr }}"
            vault.security.banzaicloud.io/vault-env-passthrough: "VAULT_ADDR,VAULT_TOKEN"
            vault.security.banzaicloud.io/vault-role: "{{ .Values.vault.role }}"
            vault.security.banzaicloud.io/vault-skip-verify: "true"
            vault.security.banzaicloud.io/vault-agent: "true"
            vault.security.banzaicloud.io/vault-path: "{{ .Values.vault.path }}"
        spec:
          volumes:
            - name: agent-secrets
              emptyDir: {}
          containers:
            - name: {{ .Values.quilr.appname }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command: ["Fabric"]
              env:
                - name: VAULT_TOKEN
                  value: vault:secret/data/quilr-common-config-vault#VAULT_TOKEN
                - name: PG_USER
                  value: vault:secret/data/quilr-common-config-vault#PG_USER
                - name: PG_PASSWORD
                  value: vault:secret/data/quilr-common-config-vault#PG_PASSWORD
                - name: PG_HOST
                  value: vault:secret/data/quilr-common-config-vault#PG_HOST
                - name: REDIS_PASSWORD
                  value: vault:secret/data/quilr-common-config-vault#REDIS_PASSWORD 
                - name: DEFAULT_KNOWLEDGE_USERNAME
                  value: vault:secret/data/quilr-common-config-vault#DEFAULT_KNOWLEDGE_USERNAME
                - name: DEFAULT_KNOWLEDGE_PSWD
                  value: vault:secret/data/quilr-common-config-vault#DEFAULT_KNOWLEDGE_PSWD
                - name: DEFAULT_KNOWLEDGE_PORT
                  value: vault:secret/data/quilr-common-config-vault#DEFAULT_KNOWLEDGE_PORT
                - name: DEFAULT_KNOWLEDGE_HOST
                  value: vault:secret/data/quilr-common-config-vault#DEFAULT_KNOWLEDGE_HOST
              envFrom:
                - configMapRef:
                    name: quilr-common-config
                - configMapRef:
                    name: {{ .Values.quilr.appname }}-configmap
          imagePullSecrets:
            - name: acr-secret
          restartPolicy: OnFailure
