id: 909f93e4-b43b-4734-9fa6-0881e8cc27ae
name: graph-api-organization-domains-data
type: fabric
version: 1.0.0
trail:
  block: start
  dependson: []
  attempt:
    - block: get_access_token
      dependson: []
      attempt:
        - block: update_completion_to_50
          dependson: []
          attempt: []
          otherwise: []
          start: false
          end: false
        - block: list_org_domains
          dependson:
            - get_access_token
          attempt: []
          otherwise: []
          start: false
          end: false
        - block: publish_to_rawOutput
          dependson: [list_org_domains]
          attempt:
            - block: update_completion_to_100
              dependson: []
              attempt: []
              otherwise: []
              start: false
              end: false
            - block: end
              dependson: [publish_to_rawOutput]
              attempt: []
              otherwise: []
              start: false
              end: true
          otherwise: []
          start: false
          end: false
      otherwise: []
      start: false
      end: false
  otherwise:
    - block: end
      dependson: []
      attempt: []
      otherwise: []
      start: false
      end: true
  start: true
  end: false
blocks:
  - name: start
    type: start
    config: {}
  - name: end
    type: end
    config: {}
  - name: get_access_token
    type: receiver
    config:
      type: rest
      uri: https://login.microsoftonline.com/common/oauth2/v2.0/token
      method: GET
      headers: {}
      body:
        grant_type: refresh_token
        client_id: $.env.client_id
        client_secret: $.env.client_secret
        scope: https://graph.microsoft.com/.default
        refresh_token: $.credential.token.refreshToken
      extract: access_token
  - name: list_org_domains
    type: receiver
    config:
      type: rest
      uri: https://graph.microsoft.com/v1.0/domains
      method: GET
      headers:
        Authorization: Bearer $.block.get_access_token.output.response.response
      body: {}
      extract: value
  - name: publish_to_rawOutput
    type: sender
    config:
      type: kafka
      topic: rawOutput
      facade:
        relation_type: HAS_IDP
        instance_id: $.context.context.instanceid
        name: Microsoft Entra ID Sub-Domains Connector
        description: Microsoft Entra ID Connector Configuration
        type: apps
        vendor: Microsoft
        product: org-domains
        subProduct: /v1.0/domains
        data: $.input.using
        subscriber: $.context.subscriber
        tenant: $.context.tenant
      foreach: $.block.list_org_domains.output.response.response
  - name: update_completion_to_50
    type: receiver
    config:
      type: rest
      uri: http://content-tracking-service:9037/pipelines/$.context.context.pipelineid/update
      method: POST
      headers:
        Internal: true
      body:
        output :
          completed_percentage: 50
          executed_blocks : 1
  - name: update_completion_to_100
    type: receiver
    config:
      type: rest
      uri: http://content-tracking-service:9037/pipelines/$.context.context.pipelineid/update
      method: POST
      headers:
        Internal: true
      body:
        output :
          completed_percentage: 100
          executed_blocks : 4
          is_completed : true