apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.quilr.appname }}
  namespace: {{ .Values.namespace | default "quilr" }}
  labels:
    app: {{ .Values.quilr.appname }}
spec:
  backoffLimit: {{ .Values.job.backoffLimit }}
  ttlSecondsAfterFinished: {{ .Values.job.ttlSecondsAfterFinished  }}
  activeDeadlineSeconds: {{ .Values.job.activeDeadlineSeconds  }}
  completions: {{ .Values.job.completions }}     
  parallelism: {{ .Values.job.parallelism }}     
  template:
    metadata:
      labels:
        app: {{ .Values.quilr.appname }}
      annotations:
        vault.security.banzaicloud.io/vault-addr: "{{ .Values.vault.addr }}"
        vault.security.banzaicloud.io/vault-env-passthrough: "VAULT_ADDR,VAULT_TOKEN"
        vault.security.banzaicloud.io/vault-role: "{{ .Values.vault.role }}"
        vault.security.banzaicloud.io/vault-skip-verify: "true"
        vault.security.banzaicloud.io/vault-agent: "true"
        vault.security.banzaicloud.io/vault-path: "{{ .Values.vault.path }}"
    spec:
      restartPolicy: OnFailure
      securityContext:
        runAsUser: 100
        runAsGroup: 101
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch
      initContainers:
        - name: wait-for-vault
          image: curlimages/curl:8.5.0
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              echo "Waiting for Vault at {{ .Values.vault.addr }}..."
              until curl -k -sSf {{ .Values.vault.addr }}/v1/sys/health; do
                echo "Vault not ready, retrying in 5s..."
                sleep 5
              done
              echo "Vault is ready!"
      containers:
        - name: {{ .Values.quilr.appname }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: VAULT_TOKEN
              value: vault:secret/data/quilr-common-config-vault#VAULT_TOKEN
            - name: PG_USER
              value: vault:secret/data/quilr-common-config-vault#PG_USER
            - name: PG_PASSWORD
              value: vault:secret/data/quilr-common-config-vault#PG_PASSWORD
            - name: PG_HOST
              value: vault:secret/data/quilr-common-config-vault#PG_HOST
            - name: REDIS_PASSWORD
              value: vault:secret/data/quilr-common-config-vault#REDIS_PASSWORD
          envFrom:
            - configMapRef:
                name: quilr-common-config
            - configMapRef:
                name: {{ .Values.quilr.appname }}-configmap
          volumeMounts:
            - name: efs-vol
              mountPath: /{{ .Values.quilr.appname }}
              subPath: {{ .Values.quilr.appname }}
      volumes:
        - name: efs-vol
          persistentVolumeClaim:
            claimName: efs-shared-pvc
        - name: agent-secrets
          emptyDir: {}
