apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.quilr.appname }}
  namespace: {{ .Values.namespace | default "quilr" }}
  labels:
    app: {{ .Values.quilr.appname }}
spec:
  schedule: {{ .Values.cronjob.schedule | quote }}
  concurrencyPolicy: {{ .Values.cronjob.concurrencyPolicy }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ .Values.cronjob.ttlSecondsAfterFinished }}
      template:
        metadata:
          labels:
            app: {{ .Values.quilr.appname }}
          annotations:
            "vault.security.banzaicloud.io/vault-addr": "{{ .Values.vault.addr }}"
            "vault.security.banzaicloud.io/vault-role": "{{ .Values.vault.role }}"
            "vault.security.banzaicloud.io/vault-skip-verify": "true"
            "vault.security.banzaicloud.io/vault-agent": "false"
            "vault.security.banzaicloud.io/vault-path": "{{ .Values.vault.path }}"
        spec:
          containers:
            - name: {{ .Values.quilr.appname }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              env:
                - name: ELASTIC_PASSWORD
                  value: vault:secret/data/quilr-common-config-vault#ELASTIC_PASSWORD
                - name: ELASTIC_TRUST_STORE_PASSWORD
                  value: vault:secret/data/quilr-common-config-vault#ELASTIC_TRUST_STORE_PASSWORD
                - name: ELASTIC_USERNAME
                  value: vault:secret/data/quilr-common-config-vault#ELASTIC_USERNAME
              envFrom:
                - configMapRef:
                    name: quilr-common-config
                - configMapRef:
                    name: {{ .Values.quilr.appname }}-configmap
          restartPolicy: OnFailure
